@charset "UTF-8";
* {
  font-family: "Oswald", "微軟正黑體";
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
}

header {
  position: relative;
  background-color: #98CCD3;
  text-align: center;
}
header .s700 {
  display: none;
}
@media screen and (max-width: 700px) {
  header .s700 {
    display: inline-block;
  }
}
header .back {
  transform: translate(50%, 0%);
  transition: 0.1s;
}
@media screen and (max-width: 700px) {
  header .back {
    display: none;
  }
}
header .front {
  transform: translate(0%, 0%);
  transition: 0.1s;
}
@media screen and (max-width: 700px) {
  header .front {
    display: none;
  }
}
header .icon {
  width: 80%;
  max-width: 250px;
  padding: 250px 0px;
}
header .marginbottom {
  position: absolute;
  width: 95%;
  bottom: 0px;
  right: 0px;
  -webkit-animation: upin 2s;
          animation: upin 2s;
}
@-webkit-keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  top: 95%;
  color: #EBF0F6;
  opacity: 0;
}
header .explore:after {
  display: block;
  content: "V";
  transform: scaleX(1.2) scale(0.5);
  transition: 0.5s;
}
header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  transition: 0.5s;
}
nav.navbar a {
  transition: 0.5s;
}

nav.navbar.at_top {
  background-color: transparent;
}
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: #EBF0F6;
}

section {
  padding: 60px 0px;
  position: relative;
}

section#section_about {
  background-color: #272343;
}
section#section_about .white .marginbottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  -webkit-animation: upin 2s;
          animation: upin 2s;
  z-index: 5;
}
section#section_about .container {
  margin-bottom: 3%;
  transform: rotate(15deg) scale(0.9);
}
@media screen and (max-width: 800px) {
  section#section_about .container {
    transform: scale(0.9) translate(20%, 0%);
  }
}
section#section_about .row {
  height: 150px;
  margin-bottom: 60px;
  color: #EBF0F6;
}
section#section_about .row .r1text {
  font-size: 34px;
  transition: 0.1s;
}
@media screen and (max-width: 800px) {
  section#section_about .row .r1text {
    font-size: 25px;
    text-align: right;
    right: -80%;
  }
}
section#section_about .row .r2text {
  font-size: 22px;
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  section#section_about .row .r2text {
    font-size: 20px;
    text-align: right;
  }
}
section#section_about .row .r3text {
  font-size: 30px;
  text-align: right;
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  section#section_about .row .r3text {
    font-size: 20px;
  }
}
section#section_about .bear {
  width: 30%;
  max-width: 300px;
  position: absolute;
  bottom: -5px;
}
section#section_about #bear {
  width: 30%;
  max-width: 300px;
  position: absolute;
  right: 8%;
  bottom: 0px;
  transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  section#section_about #bear {
    right: 1%;
  }
}
section#section_about #fish {
  width: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
}
section#section_about .tri1 {
  width: 350px;
  transition: 0.1s;
}
section#section_about .tri2 {
  width: 20px;
  margin-left: 20px;
  transition: 0.3s;
}
section#section_about .tri3 {
  width: 50px;
  margin-left: -30%;
  transition: 0.4s;
}
section#section_about .tri4 {
  width: 25px;
  margin-left: 50%;
  transition: 0.2s;
}

section#section_skills {
  background-color: #EBF0F6;
}
section#section_skills .container .row .col-sm-12 {
  color: #C2110E;
  margin: 50px 0px 50px 0px;
}
section#section_skills .container .row .col-sm-6 {
  color: #272343;
  text-align: center;
}
section#section_skills .container .row .col-sm-6 .row h3 {
  margin: 5px 0px;
  width: 90%;
}
section#section_skills .container .row .col-sm-6 .row img {
  width: 90%;
}
section#section_skills .container .row .col-sm-6 .row p {
  margin: 5px 0px;
  width: 95%;
}

section#section_works {
  background-color: #EBF0F6;
}
section#section_works .marginbottom {
  position: absolute;
  width: 120%;
  bottom: 0%;
  left: -5%;
  -webkit-animation: upin 2s;
          animation: upin 2s;
  z-index: 5;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  section#section_works .marginbottom {
    left: -12%;
  }
}
section#section_works .container {
  margin-bottom: 8%;
}
section#section_works .container .row {
  margin: 50px 0px 100px 0px;
}
section#section_works .container .row .col-sm-12 h1 {
  color: #C2110E;
}
section#section_works .container .row .col-sm-4 {
  overflow: hidden;
  margin-top: 50px;
}
section#section_works .container .work {
  height: 200px;
  position: relative;
  padding: 10px;
}
section#section_works .container .work:hover:before, section#section_works .container .work:hover .image {
  opacity: 0.2;
  transition: 0.5s;
}
@media screen and (max-width: 700px) {
  section#section_works .container .work {
    height: 460px;
  }
}
section#section_works .container .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  color: #272343;
  transition: 0.5s;
  font-family: 100px;
  font-weight: blod;
}
section#section_works .container .work .title {
  line-height: 30px;
  font-weight: 900;
}
section#section_works .container .work:hover:before, section#section_works .container .work:hover .texts {
  opacity: 1;
}
section#section_works .container .work img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 700px) {
  section#section_works .container .work img {
    height: auto;
    width: 110%;
  }
}

section#section_contact {
  background-color: #98CCD3;
  color: #272343;
  overflow: hidden;
}
section#section_contact .container {
  margin-top: 8%;
}
section#section_contact .bear {
  width: 150px;
  position: absolute;
  transition: 0.3s;
  bottom: 0%;
}
section#section_contact #bear_blue {
  right: 300px;
  z-index: 3;
}
@media screen and (max-width: 600px) {
  section#section_contact #bear_blue {
    right: 60%;
  }
}
section#section_contact #bear_white {
  right: 200px;
}
@media screen and (max-width: 600px) {
  section#section_contact #bear_white {
    right: 35%;
  }
}
section#section_contact #bear_gray {
  right: 100px;
}
@media screen and (max-width: 600px) {
  section#section_contact #bear_gray {
    right: 10%;
  }
}
section#section_contact .margintop {
  position: absolute;
  width: 120%;
  top: 0%;
  left: -5%;
  -webkit-animation: upin 5s;
          animation: upin 5s;
  z-index: 5;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  section#section_contact .margintop {
    left: -12%;
  }
}
section#section_contact .marginbottom {
  position: absolute;
  width: 120%;
  bottom: -8%;
  left: -5%;
  z-index: 5;
}
@media screen and (max-width: 1240px) {
  section#section_contact .marginbottom {
    bottom: 0%;
  }
}
section#section_contact .col-sm-6 {
  margin: 100px 0px 0px 0px;
}
section#section_contact .bottle {
  height: 300px;
}
section#section_contact .bottle .bottleback {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  transform: scale(2) translate(-25%, -50%);
}
@media screen and (max-width: 767px) {
  section#section_contact .bottle .bottleback {
    transform: scale(1.5) translate(-40%, -50%);
  }
}
section#section_contact .bottle .bottleback img {
  width: 100%;
}
section#section_contact .bottle .bottletext {
  background-color: transparent;
  color: #272343;
  padding: 15%;
  padding-left: 25%;
  position: absolute;
  transform: scale(1.2) translate(0%, -10%);
}
@media screen and (max-width: 1000px) {
  section#section_contact .bottle .bottletext {
    transform: scale(0.9) translate(0%, 0%);
  }
}
@media screen and (max-width: 767px) {
  section#section_contact .bottle .bottletext {
    transform: scale(1.5);
  }
}
@media screen and (max-width: 620px) {
  section#section_contact .bottle .bottletext {
    transform: scale(1) translate(-5%, 15%);
  }
}

footer#footer {
  background-color: #272343;
  text-align: center;
}
footer#footer .container h4 {
  color: #EBF0F6;
}